<div class="container">
  <!-- ToolBar -->
  <mat-toolbar color="primary" class="pets-toolbar" [class.mat-elevation-z24]="true">
    <span>Custom Toolbar</span>
  </mat-toolbar>

  <mat-card>
    <mat-list>

      <mat-list-item *ngFor="let pet of petsViewModel">
        <div class="row" style="width: 100%">
          <div class="col col-md-6">
            <span>{{pet.name}}</span>
          </div>
          <div class="col col-md-6">
            <span>{{pet.breed}}</span>
          </div>
        </div>
      </mat-list-item>

    </mat-list>
  </mat-card>
</div>