<div class="container" *ngIf="petsViewModel">
  <!-- ToolBar -->
  <mat-toolbar color="primary" class="pets-toolbar" [class.mat-elevation-z24]="true">
    <div class="row" style="width: 100%">
      <div class="col col-md-1">
        <button mat-mini-fab color="primary" (click)="addNewPet();"><i class="material-icons icon-size">add</i></button>
      </div>
    </div>
  </mat-toolbar>

  <mat-card>
    <mat-list>

      <mat-list-item *ngFor="let pet of petsViewModel.pets">
        <!-- view -->
        <div class="row" style="width: 100%" *ngIf="!isEditMode">
          <div class="col col-md-5">
            <span>{{pet.name}}</span>
          </div>
          <div class="col col-md-6">
            <span>{{pet.breed}}</span>
          </div>
          <div class="button-row">
              <button mat-icon-button (click)="editPet(pet)">
                <mat-icon><i class="material-icons icon-size" style="font-size: initial">create</i></mat-icon>
              </button>
              <button mat-icon-button (click)="deletePet(pet)">
                <mat-icon><i class="material-icons icon-size" style="font-size: initial">delete</i></mat-icon>
              </button>
            </div>
        </div>
      </mat-list-item>

    </mat-list>
  </mat-card>
</div>